/* HeroSection.css */
.hero-slider {
    position: relative;
    width: 100%;
    height: 20%/* Ensure the slider height is set */
  }
  
  .hero-slider .slick-slide img {
    display: block;
    width: 100%;
    height: 30rem; /* Set the image height */
    object-fit: cover; /* Ensure the image covers the area and is cropped if needed */
  }
  
  .hero-slider .slick-dots {
    bottom: 5px;
  }
  
  /* Media query for small devices (phones) */
@media (max-width: 600px) {
  .hero-slider .slick-slide img {
    height: 200px; /* Adjust height for phones */
  }
}

/* Media query for medium devices (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .hero-slider .slick-slide img {
    height: 300px; /* Adjust height for tablets */
  }
}

/* Media query for large devices (desktops) */
@media (min-width: 1025px) {
  .hero-slider .slick-slide img {
    height: 400px; /* Adjust height for desktops */
  }
}