/* Hide scrollbar */
.hide-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  /* Make images oval and fit within their containers */
  .oval-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
  
  /* Adjustments for small screens */
  @media (max-width: 600px) {
    .category-container {
      flex-direction: column;
      align-items: center;
    }
  
    .category-item {
      margin-bottom: 1rem;
    }
  }
  