/* Drawer Animation */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    background-color:rgb(25, 118, 210);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navbar Title Styling */
.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navbar Links Styling for Desktop */
.navbar-links {
  display: flex;
  gap: 1rem;
}

/* Drawer List Item Styling */
.drawer-list {
  background-color: #0f5193;

  color: #fff;
}

.drawer-list .MuiListItemIcon-root {
  color: #fff;
}
